body{
  font-family: Raleway;
}

header{
  display: flex;
  height: 70px;
  background-color: #3C62A3;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 30px;
  text-align: center;
  color: white;
}

h2{
  display: flex;
  justify-content: center;
  background-color: white;
  border: 5px solid #8C7ECC;
  border-radius: 5px;
  color: #8C7ECC;
  padding: 5px;
  width: auto;
  margin: 20px 20px 10px 20px;

}

input{
  width: 300px;
  font-size: 20px;
  border-width: 3px;
}

.inputs{
  margin: 10px;
  justify-content: center;
}

.red-error{
  border-color: red;
  color: red;
}

#add-bookmark{
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#add-bookmark span{
  margin-right: 5px;
}

#add-bookmark input{
  margin-right: 10px;
}

button{
  background-color: #F5B84A;
  border-color: #FFD790;
  color: white;
}

#add-button{
  display: flex;
  justify-content: center;
  height: 50px;
  width: 275px;
  margin: auto;

}

#clear-all-read{
  height: 30px;
  width: 150px;
}

#add-button:disabled{
  background-color: whitesmoke;
  border-color: lightgray;
  color: gray;
}

#totals{
  text-align: center;
}

#total-links, #total-read-links, #total-unread-links{
  margin: 5px;
}

#my-bookmarks {
  text-align: center;
}

#my-bookmarks li{
  align-items: center;
  background-color: #AABFE3;
  box-shadow: 5px 5px 5px #888888;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  height: auto;
  width: auto;
}


#my-bookmarks li span{
  font-size: 20px;
  color: white;
  margin-left: 20px;
}

#my-bookmarks li a{
  font-size: 20px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

#my-bookmarks li #buttons{
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.new-bookmark{

}

.read{
  background-color: #5342A9;
  height: 200px;
}

.mark-as-read{
  margin-left: 5px;
}

.remove-bookmark{
  margin: 5px;
}

.mark-as-read, .remove-bookmark{
}
